@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap';

:root {
  ///
  --font-family: 'Inter', 'Noto Sans JP', sans-serif;

  ///
  --z-background: 10;
  --z-canvas: 20;
  --z-arrow: 30;

  ///
  --canvas-width: 840px;
  --canvas-height: 800px;
  --blur-radius: 10px;
}
