.app,
.canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.app {
  position: relative;
  display: grid;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-columns: 0.5fr 8px auto auto auto 8px 0.5fr;
}

.canvas {
  position: relative;
  z-index: var(--z-canvas);
  grid-row: 1 / -1;
  grid-column: 2 / -2;
  max-width: var(--canvas-width);
  overflow: hidden;
}

.arrow-left,
.arrow-right {
  z-index: var(--z-arrow);
  grid-row: 2 / -2;
}

.arrow-left {
  grid-column: 3 / 4;
}

.arrow-right {
  grid-column: 5 / 6;
}
